#protograph_card_main_div {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#protograph_card_title_div {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#protograph_card_title_div_mobile {
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-align: center;
}

#protograph_day_div {
  font-size: 30px;
  margin: 5px 0;
  font-weight: bold;
}

#protograph_date_div {
  vertical-align: top;
  display: inline-block;
  width: 6.25%;
  height: : 100%;
  margin-top: 20px;
  -webkit-transition: margin-top 0.75s;
  transition: margin-top 0.75s;
}

#protograph_timeline_svg_div {
  margin-top: 0 !important;
  text-align: center;
  display: inline-block;
  width: 6.25%;
  margin-right: 3%;
}

#protograph_content_div {
  position: relative;
  display: inline-block;
  width: 83.5%;
  height: 544px;
  overflow-y: scroll;
}

#protograph_scroll_down_indicator {
  /*margin-top: 30px;*/
  text-align: center;
}

#protograph_scroll_down_arrow {
  height: 25px;
  -webkit-transition: height 0.75s;
  transition: height 0.75s;
}

#protograph_scroll_down_text {
  height: 20px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

#protograph_div {
  height: 600px;
  width: 640px;
  background: #f5f5f5;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0px;
}

#protograph_initial_timestamp {
  margin-bottom: 0px;
}

#protograph_initial_timestamp, #protograph_final_timestamp {
  height: 20px;
  color: #C0C0C0;
  width: 50px;
  text-align: center;
}

.protograph-circle-plot {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.protograph-content-card {
  width: 100%;
  padding: 16px;
  background: white;
  text-align: left;
}

.protograph-content-card-screenshot {
  width: 63%;
  padding: 16px;
  background: white;
  text-align: left;
}

.protograph-event-message-div {
  margin-bottom: 30px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.protograph-message-timestamp {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #808080;
}

.protograph-event-photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

#protograph_show_main_card_button {
  height: 50px;
  background-color: #337AFF;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 4px;
}

#protograph_show_main_card_button_mobile {
  height: 50px;
  background-color: #337AFF;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

#protograph_timeline_image {
  display: inline-block;
  height: auto;
  width: 45%;
  margin-left: 10%;
}

#protograph_timeline_image_mobile {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

#protograph_timeline_details_div {
  vertical-align: top;
  display: inline-block;
  text-align: left;
  width: 45%;
}

#protograph_timeline_start_div {
  max-height: 50%;
}

.protograph-youtube-embed {
    width: 100%;
    height: auto;
}

.protograph-read-more-button {
  width: 100%;
  border: 1px solid #ececec!important;
  padding: 8px 0px;
  font-size: 12px;
  background: #fafafa !important;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: 0.2s ease-in-out;
}

.protograph-read-more-button:hover {
  background: #efefef !important;
}

#ProtoScreenshot {
  max-height: 450px;
  max-width: 450px;
  position: relative;
  overflow: hidden;
}

#protograph_screenshot_main_div {
  display: block;
}
