@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

#card_main_div {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#card_title_div {
  height: 100%;
  display: flex;
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#month-div {

}

#year-div {

}

#day-div {
  font-size: 30px;
  margin: 5px 0;
  font-weight: bold;
}

#date_div {
  vertical-align: top;
  display: inline-block;
  width: 6.25%;
  height: : 100%;
  margin-top: 20px;
  -webkit-transition: margin-top 0.75s;
  transition: margin-top 0.75s;
}

#timeline_svg_div {
  display: inline-block;
  width: 6.25%;
  margin-right: 1%;
}

#content_div {
  position: relative;
  display: inline-block;
  width: 86.5%;
  height: 544px;
  overflow: scroll;
}

#scroll_down_indicator {
  /*margin-top: 30px;*/
}

#scroll_down_arrow {
  height: 25px;
  -webkit-transition: height 0.75s;
  transition: height 0.75s;
}

#scroll_down_text {
  height: 20px;
  -webkit-transition: height 1s;
  transition: height 1s;
}

#show_main_card_button {
  background-color: #337AFF; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
  margin-top: 50%;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
}

#timeline_svg {

}

#protograph_div {
  /*display: inline-block;*/
  height: 609px;
  background: #f5f5f5;
  padding: 20px 30px;
  overflow: hidden;
}

#initial_timestamp {
  margin-bottom: 0px;
}

#initial_timestamp, #final_timestamp {
  height: 20px;
  color: #C0C0C0;
}

.circle-plot {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.content-card {
  /*box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0), 0 5px 30px 0 rgba(0, 0, 0, 0.19);*/
  padding: 16px;
  background: white;
  text-align: left;
}

.proto-share-card-div {
  max-height: 100%;
  overflow: auto;
  min-height: 512px;
  text-align: center;
  margin-top:10px;
  /*padding: 0px;*/
}

.preview {
  /*position: relative;*/
  /*display: inline-block;*/
  width: 100%;
  min-height: 447.5px;
  margin-top:10px;
}

.event_message_div {
  margin-bottom: 30px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.message-timestamp {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #808080;
}

.event_photo {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.timeline_image {
  display: block;
  max-width: 100%;
  height: auto;
  /*margin: auto;*/
}

#timeline_details_div {
  margin: 20% 0;
  /*align-items: stretch;*/
  display: inline-block;
  /*position: relative;*/
  width: 47%;
  /*margin-right: 6%;*/
  text-align: left;
  /*height: inherit;*/
}

#timeline_image_div {
  /*position: relative;*/
  margin: auto 0;
  width: 47%;
  display: inline-block;
}

.youtube_embed {
    width: 100%;
    height: 420px;
}

@media only screen and (max-width: 500px){
  body {
    margin: 0px
  }
  .proto-top-div{
    position: absolute;
    top: 10px;
    padding-left: 5px;
  }
  .proto-logo-image{
    height: 20px;
    width: 20px;
    border-radius: 5px;
    display: inline-block;
  }
  .proto-quote-title {
    font-size: 11px;
    padding-right: 10%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(0,0,0,0.5);
    margin-left: 3px;
    display: inline-block;
    border-radius: 3px;
  }
}


.protograph_col_6 {
  width: 50%;
  float: left;
}

.proto-grey-body {
  background: #fafafa; }

.proto-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto; }

.proto-navbar {
  padding: 5px 0px;
  border-bottom: 1px solid #efefef;
  background: white; }
  .proto-navbar .round-image {
    height: 45px;
    width: 45px;
    overflow: hidden;
    border-radius: 50px; }

.form-layout .proto-card-form {
  padding-top: 15px; }
.form-layout .proto-card-preview {
  background: white;
  height: 100vh;
  padding-top: 15px; }

.default-button {
  border: 1px solid #c5c5c5;
  display: inline-block;
  padding: 2px;
  border-radius: 4px; }
  .default-button i.icon, .default-button i.icons {
    color: #969696;
    font-size: 1.5em; }

/*#ProtoScreenshot {
  max-height: 450px;
  max-width: 450px;
  position: relative;
  overflow: hidden;
  padding: 10px 15px;
  margin-left: 20px;
}*/
